#mac bullshit
*.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#cmake stuff
cmake_build*
CmakeCache
./bld

#my fun scripts
rebuild
build
run

#juce link
JUCE

#LSP shit
compile_commands.json
