# this is a pretty barebones adaptation from (https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml)
# I'm still messing around a bit with actions for this project as I havent decided if/how I want to do them / pay for them
name: CMake on a single platform

on:
  workflow_dispatch:    
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        path: ${{github.workspace}}/build/tort_artefacts/${{env.BUILD_TYPE}}/VST3
        
